/**All Elements With Novacento Font**/

@font-face {
    font-family: 'Novacento Sans Free, Novacentowide';

       src: url('https://static1.squarespace.com/static/6439c48de787665ec69b7605/t/64ee12f0ea67262c2dd51e50/1693324016152/Novecentowide.otf');  
  }

@font-face {

    font-family: 'SourceSans';

       src: url('https://static1.squarespace.com/static/6439c48de787665ec69b7605/t/64ee12f50ad6f53440b24b95/1693324021780/SourceSans.ttf');

  }

//Overriding Squarespace's Settings
h1 {font-family: 'Novacento Sans Free, Novacentowide';}

h2 {font-family: 'Novacento Sans Free, Novacentowide';}

h3 {font-family: 'Novacento Sans Free, Novacentowide';}

h4 {font-family: 'SourceSans';
    letter-spacing: .125rem;
    text-transform: uppercase;
	}

p {font-family: 'SourceSans';
   letter-spacing: .50rem;
   text-transform: uppercase;
	}

//Tertiary Button is in header
:root{
  --body-font-font-family: 'SourceSans';
  --body-font-text-transform: uppercase;
  --body-font-letter-spacing: .125rem;
  --heading-font-font-family: 'SourceSans';
  --heading-font-text-transform: uppercase;
  --heading-font-letter-spacing: .125rem;
  --meta-font-font-family: 'SourceSans';
  --meta-font-text-transform: uppercase;
  --meta-font-letter-spacing: .125rem;
  --header-button-font-font-family: 'SourceSans';
  --header-button-font-text-transform: uppercase;
  --header-button-font-letter-spacing: .125rem;
  --primary-button-font-font-family: 'SourceSans';
  --primary-button-font-text-transform: uppercase;
  --primary-button-font-letter-spacing: .125rem;
  --secondary-button-font-font-family: 'SourceSans';
  --secondary-button-font-text-transform: uppercase;
  --secondary-button-font-letter-spacing: .125rem;
  --tertiary-button-font-font-family: 'SourceSans';
  --tertiary-button-font-text-transform: uppercase;
  --tertiary-button-font-letter-spacing: .125rem;
  --primary-button-font-font-family: 'SourceSans';
}

/**************Heading**************/

//Getting rid of extra header padding
.header .header-announcement-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .1vw;
    padding-bottom: .1vw;
    padding-left: 0vw;
    padding-right: 0vw;
}

//Header logo
.header-title-logo{
  margin-right: auto;
}

.header-layout-nav-center .header-nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 0px;
  //flex-wrap: nowrap;
}

//Header Navigation Font
.header-nav-item{
  font-family: 'SourceSans';
  letter-spacing: .50rem;
  text-transform: uppercase;
}

//Header Elfsight Button
/*
.elfsight-app-887eb81e-3a3b-4ca6-a9d6-2734f8f2ff83 {
  display: none !important; /* Hidden by default 
}

.djmgww{
  display: none !important;
  //font-family: 'Novacento Sans Free, Novacentowide';
  
}

.ButtonBase__Overlay-sc-p43e7i-4.dVDZmT{
  display: none !important;
}

.kMPAkE{
  //display: none !important;
}

.htrJWN{
  display: none !important;
}

.kgPefg{
  display: none;
}
*/
/**********Button Settings**********/


    
//Button Settings For Elfsight Chat Button

//Embed block

.fe-block-yui_3_17_2_1_1726510293929_47271 .sqs-block .sqs-block-content{
  border-radius: 0px !important; //Remove
  line-height: normal !important; //Remove
  border-style: solid !important; //Keep
  border-width: var(--primary-button-stroke) !important; //Keep
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x) !important; //Keep
  font-family: var(--primary-button-font-font-family) !important; //Remove
  font-style: var(--primary-button-font-font-style) !important; //Remove
  font-weight: var(--primary-button-font-font-weight) !important; //Remove
  letter-spacing: var(--primary-button-font-letter-spacing) !important; //Remove
  text-transform: var(--primary-button-font-text-transform) !important; //Remove
  box-sizing: border-box !important; //Keep
  align-items: center !important; //Keep?
  justify-content: center !important; //Keep?
  padding-top: 0px !important; //Keep
  padding-bottom: 0px !important; //Keep
  height: 100% !important; //Remove
  width: 100% !important; //Remove
  display: flex !important; //Remove
  color: var(--primaryButtonTextColor) !important; //Remove
  background-color: var(--primaryButtonBackgroundColor) !important; //Keep
  border-color: transparent !important; //Remove
  flex: 1 !important; //Remove
  overflow: hidden !important; //Remove
}


//For the button animations
.eKhpgV ::before, .eKhpgV ::after {
  border-radius: 0px !important; //Remove
  height: 100% !important;
  width: 100% !important;
}

.ButtonBase__ButtonContainer-sc-p43e7i-3.dZtcLO.Bubble__BubbleComponent-sc-45ukei-0.fSQnsm{
  box-shadow: none !important; //Keep
  border-radius: 0px !important; //Remove
  line-height: normal !important; //Remove
  border-style: none !important; //Remove
  border-width: 0px !important; //Remove
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x) !important; //Remove
  font-family: var(--primary-button-font-font-family) !important; //Remove
  font-style: var(--primary-button-font-font-style) !important; //Remove
  font-weight: var(--primary-button-font-font-weight) !important;
  letter-spacing: var(--primary-button-font-letter-spacing) !important; //Remove
  text-transform: var(--primary-button-font-text-transform) !important; //Remove
  box-sizing: border-box !important; //Remove
  align-items: center !important; //Remove
  justify-content: center !important; //Remove
  padding-top: 0px !important; //Remove
  padding-bottom: 0px !important; //Remove
  height: 100% !important; //Remove
  width: 100% !important; //Remove
  display: flex !important; //Remove
  color: var(--primaryButtonTextColor) !important; //Keep
  background-color: var(--primaryButtonBackgroundColor) !important; //Keep
  border-color: transparent !important; //Remove
  flex: 1 !important; //Remove
}

.ButtonBase__ButtonContainer-sc-p43e7i-3.dZtcLO.Bubble__BubbleComponent-sc-45ukei-0.eKhpgV{
  border-radius: 0px !important; //Remove
  line-height: normal !important; //Remove
  border-style: none !important; //Remove
  border-width: 0px !important; //Remove
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x) !important; //Remove
  font-family: var(--primary-button-font-font-family) !important; //Remove
  font-style: var(--primary-button-font-font-style) !important; //Remove
  font-weight: var(--primary-button-font-font-weight) !important;
  letter-spacing: var(--primary-button-font-letter-spacing) !important; //Remove
  text-transform: var(--primary-button-font-text-transform) !important; //Remove
  box-sizing: border-box !important; //Remove
  align-items: center !important; //Remove
  justify-content: center !important; //Remove
  padding-top: 0px !important; //Remove
  padding-bottom: 0px !important; //Remove
  height: 100% !important; //Remove
  width: 100% !important; //Remove
  display: flex !important; //Remove
  color: var(--primaryButtonTextColor) !important; //Remove
  background-color: transparent !important;
  border-color: transparent !important; //Remove
  flex: 1 !important; //Remove
}


.fSQnsm ::before, .fSQnsm ::after {
  border: none !important;
  border-radius: 0px !important; //Remove
  line-height: normal !important; //Remove
  border-style: none !important; //Remove
  border-width: 0px !important; //Remove
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x) !important; //Remove
  font-family: var(--primary-button-font-font-family) !important; //Remove
  font-style: var(--primary-button-font-font-style) !important; //Remove
  font-weight: var(--primary-button-font-font-weight) !important;
  letter-spacing: var(--primary-button-font-letter-spacing) !important; //Remove
  text-transform: var(--primary-button-font-text-transform) !important; //Remove
  box-sizing: border-box !important; //Remove
  align-items: center !important; //Remove
  justify-content: center !important; //Remove
  padding-top: 0px !important; //Remove
  padding-bottom: 0px !important; //Remove
  height: 100% !important; //Remove
  width: 100% !important; //Remove
  display: flex !important; //Remove
  color: var(--primaryButtonTextColor) !important; //Remove
  background-color: var(--primaryButtonBackgroundColor) !important;
  border-color: transparent !important; //Remove
  flex: 1 !important; //Remove
}

.flovcp{
  border: none !important;
  box-shadow: none !important;
}

.ButtonBase__Overlay-sc-p43e7i-4.dVDZmT {
  border-radius: 0px !important; //Remove
  line-height: normal !important; //Remove
  border-style: none !important; //Remove
  border-width: var(--primary-button-stroke) !important; //Remove
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x) !important; //Remove
  font-family: var(--primary-button-font-font-family) !important; //Remove
  font-style: var(--primary-button-font-font-style) !important; //Remove
  font-weight: var(--primary-button-font-font-weight) !important; //Keep
  letter-spacing: var(--primary-button-font-letter-spacing) !important; //Keep
  text-transform: var(--primary-button-font-text-transform) !important; //Keep
  box-sizing: border-box !important; //Remove
  align-items: center !important; //Remove
  justify-content: center !important; //Remove
  padding-top: 0px !important; //Remove
  padding-bottom: 0px !important; //Remove
  height: 100% !important; //Remove
  width: 100% !important; //Remove
  display: flex !important; //Remove
  color: var(--primaryButtonTextColor) !important; //Keep
  background-color: var(--primaryButtonBackgroundColor) !important;//Remove
  border-color: transparent !important; //Remove
  flex: 1 !important; //Remove
}

//Chat Notification Bubble
.xWwIh{
  right: 12px !important;
}

/**********Services Widget***********/

//Heading for Services Widget
.eapp-photo-gallery-photo-gallery-heading{
  font-family: 'Novacento Sans Free, Novacentowide' !important;
  font-size: 2.2rem !important;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

//Settings for font on Service Widget Buttons
.eapp-photo-gallery-info-title{
  font-family: 'SourceSans' !important;
  letter-spacing: .125rem;
  font-size: 1rem !important;
  text-transform: uppercase;
  text-align: center !important;
  margin: 0px !important;
  padding: 0px
}

//This fixes the elfsight widget
//extra space!!!!
//Hide Embed Block Info Bar
.sqs-block .sqs-blockStatus, .sqs-block .removed-script {
  display: none!important;
}

//This fixes the spacing issue on the left and right side of the widget
.eapp-photo-gallery-masonry-item-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 3px !important;
  margin: 0px !important!;
}

/********Google Review Widget********/

//This is for the heading of the google review widget
.DZBVr {
  font-family: 'Novacento Sans Free, Novacentowide' !important;
}

/********Call & Text Buttons********/

//Shows and makes the button in the hamburger menu square, if the device is mobile
@media (max-width: 767px){
  .tertiary-button-style-outline .sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .list-item .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .list-item[data-is-card-enabled="true"] .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .sqs-block-form .sqs-editable-button.sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .header-menu-cta .btn.sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .tock-block div#Tock_widget_container > div.TockWidgetWrapper .TockButton-blue.sqs-button-element--tertiary:not(:hover), .tertiary-button-style-outline .sqs-modal-lightbox-content .sqs-button-element--tertiary:not(:hover){
    background-color: var(--primaryButtonBackgroundColor) !important; 
    border-radius: 0px !important;
  }
  
  
  //This is the hover effect, whether the hover has rounded corners or not
  .tertiary-button-style-outline .sqs-button-element--tertiary, .tertiary-button-style-outline .list-item .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary, .tertiary-button-style-outline .list-item[data-is-card-enabled="true"] .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary, .tertiary-button-style-outline .sqs-block-form .sqs-editable-button.sqs-button-element--tertiary, .tertiary-button-style-outline .header-menu-cta .btn.sqs-button-element--tertiary, .tertiary-button-style-outline .tock-block div#Tock_widget_container > div.TockWidgetWrapper .TockButton-blue.sqs-button-element--tertiary, .tertiary-button-style-outline .sqs-modal-lightbox-content .sqs-button-element--tertiary{
    border-radius: 0px !important;
  }
  
  .sqs-button-element--tertiary{
    display: inline-block !important;
  }
  
}

@media (min-width: 768px){
  
  //Button Hovering Effect Removed On Header Button
.tertiary-button-style-outline .sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .list-item .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .list-item[data-is-card-enabled="true"] .sqs-block-button-element.list-item-content__button.sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .sqs-block-form .sqs-editable-button.sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .header-menu-cta .btn.sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .tock-block div#Tock_widget_container > div.TockWidgetWrapper .TockButton-blue.sqs-button-element--tertiary:hover,
.tertiary-button-style-outline .sqs-modal-lightbox-content .sqs-button-element--tertiary:hover {
    background-color: initial;
    color: initial;
    border-color: initial;
    box-shadow: none;
    transition: none;
}
  
}

//Hide call and text buttons if not on mobile
@media (min-width:767px){
  
  //Service Widget Buttons - Make font larger if on desktop
  .eapp-photo-gallery-info-title{
    font-size: 2.2rem !important;
  }
  
  //Service Widget Heading
  .eapp-photo-gallery-photo-gallery-heading{
    font-size: 2.5rem !important;
  }
  
  //Font Size of H3
  h3{
    font-size: 2.5rem !important;
  }
  
  //Art Page Buttons
  .fe-block-f4742ae5311e51d6768d{
    display:none;
  }
  .fe-block-yui_3_17_2_1_1720903552322_12914{
    display:none;
  }
  
  //Audio Page Buttons
  .fe-block-c45718a15f1e9f5ce977{
    display:none;
  }
  .fe-block-0a83075d460324cd84c7{
    display:none;
  }
  
  //Lighting Page Buttons
  .fe-block-yui_3_17_2_1_1718934013646_43597{
    display: none;
  }
  
  .fe-block-yui_3_17_2_1_1718934013646_44069{
    display: none;
  }
  
  //Tv Hanging Buttons
  .fe-block-813a38310fd23a809bb1{
    display: none;
  }
  
  .fe-block-26a260eea22e6d3c6dc8{
    display: none;
  }
  
  //Theater buttons
  .fe-block-yui_3_17_2_1_1719945907411_3917{
    display: none;
  }
  
  .fe-block-fe3f8c8413f30522413b{
    display: none;
  }
  
  //Networking Buttons
  .fe-block-cb2ea117a52078988243{
    display: none;
  }
  
  .fe-block-b0f0b6f45929865892fa{
    display: none;
  }
  
  //Security Page Buttons
  .fe-block-c7ad174ed998bee71b29{
    display: none;
  }
  
  .fe-block-da5356fe899ff19d803e{
    display: none;
  }
  
  //Electrical Page Buttons
  .fe-block-c7610909f36b4be0ff28{
    display: none;
  }
  
  .fe-block-c852f4fe32fd608a80c7{
    display: none;
  }
}

//Code To Hide Text On Mobile
@media (max-width:767px){
  
  
  
  //Audio Page
  .fe-block-yui_3_17_2_1_1720909322611_5659{
    display:none;
  }
  
  //Lighting Page
  .fe-block-yui_3_17_2_1_1720909322611_13917{
    display: none;
  }
  
  //Art Page
  .fe-block-yui_3_17_2_1_1720909322611_20514{
    display: none;
  }
  
  //Tv Hanging
  .fe-block-yui_3_17_2_1_1720909322611_24785{
    display: none;
  }
  
  //Theater Page
  .fe-block-yui_3_17_2_1_1720909322611_28072{
    display: none;
  }
  
  //Networking Page
  .fe-block-yui_3_17_2_1_1720983423785_3506{
    display: none;
  }
  
  //Security Page
  .fe-block-yui_3_17_2_1_1720984763037_2809{
    display: none;
  }
  
  //Electrical Page
  .fe-block-yui_3_17_2_1_1720986938120_2819{
    display: none;
  }
}
